*{
    padding: 0;
    margin: 0;
    font-family: 'Montserrat';
    font-weight: 400;
}
body{
    text-align: center;
    color: #40514E;
    background-size: cover;
    background-color: #E4F9F5;
}
form{
    background-color: #fff;
    width: 50%;
    margin: auto;
    border-radius: 4rem;
}
.registration{
    display: block;
    margin: auto;
    width: 22rem;
}

h1{
    font-size: 2.5rem;
    text-transform: uppercase;
    margin: 40px 0;
    padding-top: 40px;
}
.registration p{
    background-color: #E4F9F5;
    font-size: 1.4rem;
    margin: 15px 0;
}
#btn,input, textarea{
    background-color: #E4F9F5;
    font-size: 1rem;
    padding: 15px 10px;
    margin: 10px;
    width: 100%;
    border: 0;
    outline: none;
    border-radius: 7px;
}

#btn{
    font-size: 1.2rem;
    font-weight: bold;
    width: 105%;
    margin: 2rem 1rem;
}
#btn:hover{
    transition:background-color 1s;
    background-color: #c3dfda;
}
